<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Pontos de Coleta</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Pesquisa por cidade">
                <button>
                    <img src="https://cdn.glitch.com/95b7c852-b549-4af2-bbf3-707ff8debc72%2Fsearch.svg?v=1591363839633" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>